[Unit]
Description=Emacs daemon
Documentation=info:emacs man:emacs(1)

[Service]
Type=forking
Environment=GTK_IM_MODULE=gtk-im-context-simple
Environment=XMODIFIERS=@im=none
UnsetEnvironment=QT_IM_MODULE INPUT_METHOD SDL_IM_MODULE
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient -e "(kill-emacs)"
Restart=on-failure

[Install]
WantedBy=default.target
